E:/ForestMagus/Content/MagicProjectiles/Niagara/Fire/NS_Fire_Trail.uasset filter=lfs diff=lfs merge=lfs -text
E:/ForestMagus/Content/MagicProjectiles/Niagara/Fire/NS_Fire_Impact.uasset filter=lfs diff=lfs merge=lfs -text
E:/ForestMagus/Content/MagicProjectiles/Niagara/Ice/NS_Ice_Impact.uasset filter=lfs diff=lfs merge=lfs -text
E:/ForestMagus/Content/MagicProjectiles/Niagara/Ice/NS_Ice_Trail.uasset filter=lfs diff=lfs merge=lfs -text
E:/ForestMagus/Content/MagicProjectiles/Niagara/Fire/NS_Fire_Muzzle.uasset filter=lfs diff=lfs merge=lfs -text
E:/ForestMagus/Content/MagicProjectiles/Niagara/Water/NS_Water_Impact_BluePurple_Fix.uasset filter=lfs diff=lfs merge=lfs -text
E:/ForestMagus/Content/MagicProjectiles/Niagara/Water/NS_Water_Traill_BluePurple_Fix.uasset filter=lfs diff=lfs merge=lfs -text
E:/ForestMagus/Content/StylizedVFX-AirStrikes/Particles/NS_AcidStrike.uasset filter=lfs diff=lfs merge=lfs -text
E:/ForestMagus/Content/StylizedVFX-AirStrikes/Particles/NS_ArrowRain.uasset filter=lfs diff=lfs merge=lfs -text
E:/ForestMagus/Content/StylizedVFX-AirStrikes/Particles filter=lfs diff=lfs merge=lfs -text
E:/ForestMagus/Content/StylizedVFX-AirStrikes/Textures filter=lfs diff=lfs merge=lfs -text
E:/ForestMagus/Content/DreamscapeSeries filter=lfs diff=lfs merge=lfs -text
E:/ForestMagus/Content/Maps/MagusMap filter=lfs diff=lfs merge=lfs -text
F:/ForestMagus/Content/Font filter=lfs diff=lfs merge=lfs -text
E:/ForestMagus/Content/Maps/TitleMap.umap filter=lfs diff=lfs merge=lfs -text
